---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

  body {
    background-image: linear-gradient(
      to bottom, transparent, $background-color 11em
    ),url("/media/Himmel_2.jpg");
    background-repeat: no-repeat;
    background-size: max(100vw, 800px) auto;
  }
  

  
  .site-header-container {
    margin-top: 2em;
    max-height: 9em;
    display: grid;
    grid-template-columns: 80% auto;
  
    @media screen and (min-width: $on-large) {
      grid-template-columns: 500px auto;
  
    }
  
  }
  
  .frontpage-cover-container {
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    background-color: #7E8FA6ff;
    color: white;
  
    .titles {
      flex: 1 1 0;
      width: 0;
      padding:0.5em;  
      p {
        margin-bottom: 0px;
        line-height:1em;
        font-size: 2em;
        @media screen and (max-width: $on-medium) {
          font-size: 1.3em;
        }
      }
  
      h1 {
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 3em;
        line-height: 1em;
        @media screen and (max-width: $on-medium) {
          font-size: 1.8em;
        }

      }
    }
  
    .frontpage-cover {
      flex: 1 1 0;
      width: 0;
  
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  
    }
  }
  
  .site-logo {
    height: auto;
    margin-top: auto;

  
    img {
      max-width: 620px;
      width:100%;

      vertical-align: auto;
      @media screen and (min-width: $on-large) {
        margin-left: -3em;      }
    }
  
  
  }
  
  

