---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background-image: url("/assets/himmel.jpg");
  background-size: cover;
  background-position: 0 -100px;
  background-repeat: no-repeat;
}
.site-nav {
  padding-top:0;
  margin-top: auto;
  max-width:500px;
  margin-left:auto;
}
.site-header-container {
  height:76px;
  display: grid;
  grid-template-columns: 80% auto;

  @media screen and (min-width: $on-large) {
    grid-template-columns: 520px auto;

  }

}

.frontpage-cover-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom:2em;
  .titles {
    background-color: #7E8FA6ff;
    color: white;
    text-align: left;
    padding-left:10%;
    padding-top:10%;
    h1 {
      font-weight:800;
      margin:0;
      padding:0;
      
      @include relative-font-size(1.5);
      @media screen and (min-width: $on-large) {
        @include relative-font-size(3.5);

      }
      @media screen and (min-width: $on-medium) and (max-width: $on-large) {
        @include relative-font-size(2.0);

      }
    }
    h2 {
      font-weight: 500;
      padding:0;
      margin:0;
      @include relative-font-size(1.0);
      @media screen and (min-width: $on-large) {
        @include relative-font-size(2.5);

      }
      @media screen and (min-width: $on-medium) and (max-width: $on-large) {
        @include relative-font-size(1.5);

      }
    }
  }
}

  .site-logo {
    max-width:520px;
    height:auto;
    margin-top:auto;
    img {
      vertical-align: auto;
    }


  }
  .site-logo-text {
padding-bottom: 5px;
    margin-top: auto;
    margin-left:-20px;


  }

